Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel $\rightarrow$ Restart) and then **run all cells** (in the menubar, select Cell $\rightarrow$ Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [25]:
NAME = "Pandas assigment"
COLLABORATORS = "Intel"

---

### ASSIGNMENT: Pandas Task
### TOTAL QUESTIONS: 15
### NOTE: Use pandas functions for all tasks. Do not change cells. Write your code only in the cells where it is marked as #YOUR CODE HERE. Start writing your code just below this line in the same cell, not in a different cell. Read the question carefully and note that the variable names to store the output or answer are already provided in some of the questions. Kindly follow that . Do not change the variable names.

### Do not add or delete cells

# Q1. Create a DataFrame named df with the following data:

| Name    | Age | City      |
| ------- | --- | --------- |
| Alice   | 25  | Delhi     |
| Bob     | 30  | Mumbai    |
| Charlie | 35  | Chennai   |
| David   | 40  | Kolkata   |
| Eva     | 45  | Bangalore |

In [26]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore']
}
df = pd.DataFrame(data)
print(df)

      Name  Age       City
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35    Chennai
3    David   40    Kolkata
4      Eva   45  Bangalore

# Q2.Display top 3 rows of df.

In [27]:
top_3_rows_slicing = df[:3]

print(top_3_rows_slicing)

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

# Q3. Add a column Salary with values [50000, 60000, 55000, 70000, 65000]

In [28]:
df['salary']=[50000,60000,55000,70000,65000]
print(df)

      Name  Age       City  salary
0    Alice   25      Delhi   50000
1      Bob   30     Mumbai   60000
2  Charlie   35    Chennai   55000
3    David   40    Kolkata   70000
4      Eva   45  Bangalore   65000

# Q4. Check for null values in each column.

In [29]:
print(df.isnull().sum())

Name      0
Age       0
City      0
salary    0
dtype: int64

# Q5. Add a duplicate row and then count total duplicates and store in variable named as dup_count.

In [30]:
df = df._append(df.iloc[0], ignore_index=True)
dup_count = df.duplicated().sum()
print("Total duplicate rows (dup_count):", dup_count)

Total duplicate rows (dup_count): 1

# Q6. Remove duplicate rows and reset the index.

In [31]:
df=df.drop_duplicates()
df=df.reset_index(drop=True)
print("Dataframe after removing duplicates and reseting index:")
print(df)

Dataframe after removing duplicates and reseting index:
      Name  Age       City  salary
0    Alice   25      Delhi   50000
1      Bob   30     Mumbai   60000
2  Charlie   35    Chennai   55000
3    David   40    Kolkata   70000
4      Eva   45  Bangalore   65000

# Q7. Show the count of unique cities. Store in variable named as unique_cities

In [32]:
unique_cities = df['City'].nunique()
print("Number of unique cities:", unique_cities)
print("Type of unique_cities:", type(unique_cities))

Number of unique cities: 5
Type of unique_cities: <class 'int'>

# Q8. Display all unique city names and store them in a variable called `city_names` .

In [33]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore']
})

# Now get unique city names
city_names = df['City'].unique()
print(city_names)

['Delhi' 'Mumbai' 'Chennai' 'Kolkata' 'Bangalore']

# Q9. Sort the DataFrame by Age in descending order and store in sorted_df.

In [40]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 22, 35, 28]
})
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

      Name  Age
3    David   35
1      Bob   30
4      Eva   28
0    Alice   25
2  Charlie   22

# Q10. Filter all rows where Salary > 60000 and store in variable called filtered_df.

In [49]:
filtered_df = df[df['salary'] > 60000]
print(filtered_df)

    Name  Age  salary
3  David   35   70000
4    Eva   28   65000

# Q11. Get average Salary grouped by City and store in variable called avg_salary.

In [62]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'City': ['Dehli', 'Mumbai', 'Chennai', 'Kolkata', 'Banglore'],
    'salary': [55000, 72000, 48000, 80000, 61000]
})

avg_salary = df.groupby('City', as_index=False)['salary'].mean()
print(avg_salary)

       City   salary
0  Banglore  61000.0
1   Chennai  48000.0
2     Dehli  55000.0
3   Kolkata  80000.0
4    Mumbai  72000.0

# Q12. Create another DataFrame dept_df and merge with df horizontally. Store it in a variable called merged_df

dept_df columns:

| Name    | Department |
| ------- | ---------- |
| Alice   | HR         |
| Bob     | IT         |
| Charlie | Finance    |
| David   | Marketing  |
| Eva     | Admin      |

In [70]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 22, 35, 28],
    'City': ['Dehli', 'Mumbai', 'Chennai', 'Kolkata', 'Banglore'],
    'Salary': [55000, 72000, 48000, 80000, 61000]
    })
dept_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'Admin']
    })
merged_df = pd.merge(df, dept_df, on='Name')
print(merged_df)

      Name  Age      City  Salary Department
0    Alice   25     Dehli   55000         HR
1      Bob   30    Mumbai   72000         IT
2  Charlie   22   Chennai   48000    Finance
3    David   35   Kolkata   80000  Marketing
4      Eva   28  Banglore   61000      Admin

# Q13. Concatenate two DataFrames vertically.

In [4]:
import pandas as pd
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['Dehli', 'Mumabi', 'Chennai']
})

df2 = pd.DataFrame({
    'Name': ['David', 'Eva'],
    'Age': [35, 28],
    'City': ['Kolkata', 'Banglore']
})

merged_df = pd.concat([df1, df2], axis=0)

print(merged_df)

      Name  Age      City
0    Alice   25     Dehli
1      Bob   30    Mumabi
2  Charlie   22   Chennai
0    David   35   Kolkata
1      Eva   28  Banglore

# Q14. Replace any missing Age values with the mean of the column.

In [6]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, None, 30, None, 28],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Banglore']
})

# Q15. Rename the column Salary to Income in the DataFrame df.

In [8]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 22, 35, 28],
    'Salary': [50000, 60000, 55000, 70000, 65000]
})

# Rename column
df.rename(columns={'Salary': 'Income'}, inplace=True)

print(df)

      Name  Age  Income
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   55000
3    David   35   70000
4      Eva   28   65000